# Ignore Xcode configurations
*.xcconfig

# Ignore build files
build/

# Ignore Xcode-specific settings
*.xcworkspace
*.xcuserdata
*.xcuserstate
xcuserdata/
project.xcworkspace/

# Ignore derived data
DerivedData/

# Ignore temporary files and caches
*.swp
*.lock
*.tmp
.DS_Store

# Ignore CocoaPods and Carthage dependencies
Pods/
Carthage/
